--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.110.0
uvicorn==0.29.0

numpy==1.26.4

torch==2.2.2+cpu
sentence-transformers==2.6.1

faiss-cpu==1.7.4

langchain==0.1.14
langchain-core==0.1.40
langchain-text-splitters==0.0.1

python-dotenv==1.0.1
pypdf==4.2.0
rank-bm25==0.2.2
requests==2.31.0

python-docx==1.2.0
duckduckgo-search==8.1.1
groq==1.2.0
python-multipart==0.0.26
beautifulsoup4==4.14.3
aiohttp==3.13.5
google-auth==2.40.3
