--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-dotenv
pypdf
python-docx
requests
faiss-cpu
torch==2.2.2+cpu
sentence-transformers
langchain-core
langchain-text-splitters
rank-bm25
duckduckgo-search
groq
python-multipart
numpy
beautifulsoup4
aiohttp
