fastapi
uvicorn[standard]
faiss-cpu
sentence-transformers
pypdf
python-docx
duckduckgo-search
groq
python-multipart
sqlite-utils
python-dotenv
langchain-text-splitters
langchain-core
numpy
requests
beautifulsoup4
aiohttp
rank_bm25